.title {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-transform: capitalize;
}
.title span:nth-child(1) {
  color: red;
  margin-right: 1rem;
  font-size: 1.5rem;
}
.title span:nth-child(2) {
  color: red;
  margin-right: 1rem;
  font-size: 0.9rem;
  margin-top: -0.5rem;
}
